# Repository Owner - @EtienneBauscher

# For the kmeans_gh.py file all code belongs to @EtienneBauscher 

# All datasets in this repository was provided from HyperionDev to the repository owner
# for the completion of a take home challenge.
